.lis{
    margin: 0;
    width: 200px;
    background-color: rgb(128, 226, 221);
    min-height: 100vh;
    position: relative;
}

.lis ul li{
    font-size: 24px;
    display: block;
    cursor: pointer;
    padding-top: 20px;
    text-align: center;
    height: 110px;
    width: 100%;
    margin: auto;
    transition: 0.5s;
    color: rgb(12, 12, 12);
    font-weight: bold;
}
.lis ul li:hover{
    background-color: rgb(10, 155, 252);
}